<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Heroes</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo-dbheroes.png" alt="logo dbheroes">
         
         <nav>
             <ul>
                <a href="/">Inicio</a>
                <a href="/views/goku.html">Goku</a>
                <a href="/views/vegeta.html">Vegeta</a>
                <a href="/views/gohan.html">Gohan</a>
                <a href="/views/piccolo.html">Piccolo</a>
                <a href="/views/krilin.html">Krilin</a>
                <a href="/views/ten-shin-han.html">Ten Shin Han</a>
                <a href="/views/yamcha.html">Yamcha</a>
             </ul>
         </nav>
    </header>

<main>
    <h1>Dragon Ball Heroes</h1>
    <p>Esta es una página en la cual voy a estar mostrando algunos de los héroes más importantes de la serie Dragon Ball en sus comienzos. Ellos han recorrido un largo camino, realizando varias aventuras y enfrentando difíciles enemigos. Entre estos enemigos, los más fuertes han sido: Freezer, Cell y Majin Boo.
</main>
    
    
</body>
</html>