<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goku</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo-dbheroes.png" alt="logo dbheroes">
         
         <nav>
             <span>
                <a href="/">Inicio</a>
                <a href="/views/goku.html">Goku</a>
                <a href="/views/vegeta.html">Vegeta</a>
                <a href="/views/gohan.html">Gohan</a>
                <a href="/views/piccolo.html">Piccolo</a>
                <a href="/views/krilin.html">Krilin</a>
                <a href="/views/ten-shin-han.html">Ten Shin Han</a>
                <a href="/views/yamcha.html">Yamcha</a>
             </span>
         </nav>
    </header>
    <main><h1>Picollo</h1>
    <img src="/img/piccolo.jpg" alt="imagen piccolo">
    <p>Es un namekiano que surgió tras ser creado en los últimos momentos de vida de su padre, siendo su actual reencarnación.  A través del tiempo, también comenzó a tomarle cariño a su discípulo Son Gohan, a quien veía como una especie de "vástago" y formando un lazo de amistad con este.</p>
</main>

</body>
</html>