<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goku</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo-dbheroes.png" alt="logo dbheroes">
         
         <nav>
             <span>
                <a href="/">Inicio</a>
                <a href="/views/goku.html">Goku</a>
                <a href="/views/vegeta.html">Vegeta</a>
                <a href="/views/gohan.html">Gohan</a>
                <a href="/views/piccolo.html">Piccolo</a>
                <a href="/views/krilin.html">Krilin</a>
                <a href="/views/ten-shin-han.html">Ten Shin Han</a>
                <a href="/views/yamcha.html">Yamcha</a>
             </span>
         </nav>
    </header>
    <main><h1>Ten Shin Han</h1>
    <img src="/img/ten-shin-han.jpg" alt="imagen ten shin han">
    <p>Tenshinhan es un luchador terrícola humano de artes marciales descendiente de un clan alienígena, que tras realizar un largo entrenamiento mental, obtuvo un tercer ojo. Es considerado uno de los individuos más poderosos provenientes de la Tierra dentro del universo de Dragon Ball.</p>
</main>

</body>
</html>