<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goku</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="/img/logo-dbheroes.png" alt="logo dbheroes">
         
         <nav>
             <span>
                <a href="/">Inicio</a>
                <a href="/views/goku.html">Goku</a>
                <a href="/views/vegeta.html">Vegeta</a>
                <a href="/views/gohan.html">Gohan</a>
                <a href="/views/piccolo.html">Piccolo</a>
                <a href="/views/krilin.html">Krilin</a>
                <a href="/views/ten-shin-han.html">Ten Shin Han</a>
                <a href="/views/yamcha.html">Yamcha</a>
             </span>
         </nav>
    </header>
    <main><h1>Vegeta</h1>
    <img src="/img/vegeta.jpg" alt="imagen vegeta">
    <p>Vegeta es el príncipe de una raza guerrera extraterrestre conocida como los Saiyajin. Es extremadamente arrogante, orgulloso y trabajador; constantemente se refiere a su herencia y estatus real a lo largo de la serie.</p>
</main>

</body>
</html>